/* Basic styling */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
}

nav {
    background: #222;
    padding: 5px 20px;
}

ul {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

.menu li {
    white-space: nowrap;
    padding: 15px 5px;
    border-radius: 10px;
}

.item:hover {
    background-color: #999;
    cursor: pointer;
    transition: .4s;
}

.logo a,
.toggle a {
    font-size: 20px;
}


/* Main */

.contents {
    display: block;
}

section {
    border: 2px solid black;
    height: 500px;
    border-radius: 10px;
    padding: 10px;
    text-align: justify;
    margin: 10px;
}

article {
    height: 200px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}

aside {
    height: 200px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}

footer {
    bottom: 0;
    padding: 20px;
    display: block;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.left-contents,
.right-contents {
    display: block;
}


/* Mobile menu */

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    order: 0;
}

.item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}

.item.active {
    display: block;
}


/* Navbar Toggle */

.toggle {
    cursor: pointer;
}

.bars {
    background: #999;
    display: inline-block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.bars:before,
.bars:after {
    background: #999;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.bars:before {
    top: 5px;
}

.bars:after {
    top: -5px;
}


/* Tablet menu */

@media screen and (min-width: 468px) {
    .menu {
        justify-content: center;
    }
    .logo {
        flex: 1;
    }
    .toggle {
        order: 2;
    }
}


/* Desktop menu */

@media screen and (min-width: 768px) {
    .item {
        display: block;
        width: auto;
    }
    .toggle {
        display: none;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
    }
    .menu li {
        padding: 15px 10px;
    }
    .contents {
        display: flex;
        width: 100%;
    }
    .left-contents {
        width: 75%;
    }
    .right-contents {
        width: 25%;
    }
    aside,
    article {
        display: block;
    }
    .item {
        width: 80px;
    }
}